<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

    <header>

        <a href="../index.html">
            <img src="../img/fortee.webp" id="logo">
        </a>

        <h1 style="line-height: 1;" id="marca">SynergyFit <br><span>Academia</span></h1>

        <div class="menu">
            <nav>
                <a href="login.html" class="link-nav">Sou aluno</a>
                <a href="cadastro.html" class="link-nav" target="_blank" class="link-nav">Quero me matricular</a>
            </nav>
        </div>
    </header> 

</body>
</html>